.logo img {
  width: 60%;
}

.library-desc {
  margin-top: 2em;
}

.foto {
  filter: grayscale(80%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  max-width: 30%;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
  margin-top: 0 !important;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
