<footer role="contentinfo">
  <div
  {{ if eq .Site.Params.showThemeSwitcher false }}style="display: none;"{{ end }}
  >
    <label for="themer">
      {{ T "dark_theme" }} <input type="checkbox" id="themer" class="vh">
      <!-- Shows "on" or "off" -->
      <span aria-hidden="true"></span>
    </label>
  </div>
  {{ with .Site.Params.footer }}
    {{ . | markdownify }}
  {{ end }}

    <div class="centered">
        <small>Este projeto conta com o apoio das seguintes entidades</small>
        <img src="/images/barra_logos.png" width="50%" style="margin-top: 0.8em;">
    </div>
</footer>

<!-- Typeform -->
<div
class="cui-embed"
data-cui-uid="BvcPXN5Y"
data-cui-avatar="https://images.typeform.com/images/cXEfJ75f2t8p"
data-cui-mode="pill"
data-cui-pill-button-color="#01695A"
data-cui-hidden-site="pap"
></div>
<script src="https://public-assets.typeform.com/confab/embed.js" async></script>
